.contenteditable {
  border: inset 1px #999;
  overflow: auto;
  resize: both;
  min-height: 55px;
  padding: 1px 3px;
}
.contenteditable:focus {
  outline: 2px solid #CCC;
}
.form-disabled .contenteditable {
  background: none repeat scroll 0 0 #EDEDED;
  color: #717171;
}
.contenteditable-error {
  border: 2px solid red;
}
